<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Mã vé đặt tour : {{IDVeDatTour}} <br />
    Tên khách hàng đại diện: {{TenKhachHang}} <br />
    Email: {{Email}} <br />
    Số điện thoại: {{SDT}} <br />
    Địa chỉ: {{DiaChi}} <br />
    Thời hạn thanh toán : {{ThoiHanThanhToan}} <br />
    Tổng tiền cần thanh toán: {{TongTien}} <br />
    Quý khách vui lòng thanh toán trước thời hạn để chúng tôi có thể xác nhận vé đặt của quý khách!!!
    Xin cám ơn quý khách.
</body>
</html>