@{
    ViewBag.Title = "Home Page";
}
@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/trangchu.css" />
}
<body style="padding:0">
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="~/Content/Image/GthieuClip.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3" style="font-family:Verdana">DU LỊCH VIỆT NAM</h1>

                    <form action="/hms/accommodations" method="GET">

                        <div class="row">
                            <div class="col-lg-offset-4 col-md-10">
                                <div class="input-group">
                                    <input type="text" class="form-control " placeholder="Tìm kiếm" id="txtSearch" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" style="height:35px; width:70px;">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </header>

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">

                </div>
            </div>
        </div>
    </section>
</body>


